body {
  background-color: #fee8d4;
}
a {
  color: #b7895d;
}
.generator-container {
  margin: 120px auto;
  max-width: 400px;
}
.haiku-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.topic-input {
  border: 1.5px solid #d4a373;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);

  font-size: 12px;
  padding: 10px;
}
.generate-button {
  background-color: #d4a373;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);

  color: white;
  font-size: 16px;
  margin: 30px 80px 0;
  padding: 10px;
}
h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  font-size: 52px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
.haiku-output {
  background-color: #fff0e6;
  border: 1.5px solid #d4a373;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "Liu Jian Mao Cao", cursive;
  font-size: 24px;
  line-height: 2;
  margin-top: 40px;
  padding: 15px;
  text-align: center;
}
footer {
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}
